<ion-content>
  <ion-grid class="centered">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="howTo">HOW TO
              <ion-text style="font-weight: bolder">PUSH</ion-text>
            </ion-card-title>
            <ion-card-subtitle style="padding-left: 25px;
            font-style: italic;">Notification's Provider</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating" style="font-variant:all-small-caps;" color="dark">Login</ion-label>
                <ion-input type="text" style="border-bottom: 2px solid black;" color="dark"></ion-input>
              </ion-item>
              <ion-item lines="none" style="padding-top:20px;">
                <ion-label position="floating" style="font-variant: all-small-caps;" color="dark">Password</ion-label>
                <ion-input type="password" style="border-bottom: 2px solid black;" color="dark"></ion-input>
              </ion-item>
              <ion-item lines="none" style="margin-top: 60px;">
                <ion-row style="width:100%; ">
                  <ion-col class="ion-align-self-center" sizeLg="6" sizeMd="6" sizeXs="12" size="12" size-sm style="border: 2px solid black;text-align: center">
                    <ion-button fill="clear" color="dark">
                      <ion-icon name="logo-facebook" style="padding: 20px"></ion-icon>
                      <ion-label style="float: right;margin-left: 25px;font-variant: small-caps;">Using Facebook</ion-label>
                    </ion-button>
                  </ion-col>

                  <ion-col class="ion-text-center" sizeLg="6" sizeMd="6" sizeXs="12" size-sm style="border: 2px solid black;text-align: center">
                    <ion-button fill="clear" color="dark">
                      <ion-icon name="logo-google" style="padding: 20px"></ion-icon>
                      <ion-label style="float: right;margin-left: 25px;font-variant: small-caps;">Using Google</ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item lines="none " style="margin-top: 60px;">
                <ion-row style="width:100%; ">
                  <ion-col class="ion-align-self-center" style="text-align: center" sizeLg="6" sizeMd="6" sizeXs="12" size="12" size-sm>
                    <ion-button fill="clear" color="dark" style="float: left;">
                      <ion-checkbox color="dark"></ion-checkbox>
                      <ion-label style="float: right;margin-left:10px;">Stay Logged in</ion-label>
                    </ion-button>
                  </ion-col>

                  <ion-col class="ion-text-center" style="text-align: center" sizeLg="6" sizeMd="6" sizeXs="12">
                    <ion-button fill="clear" color="dark" style="float: right;">
                      <ion-label style="float: right;">Forgot Password?</ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-footer translucent="true" class="ion-no-border">
            <div style="float: left;padding: 30px;">
              Don't have an account?
              <a class="signUp">Sign Up</a>
            </div>
            <div class="logIn">
              Log in
            </div>
          </ion-card-footer>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row style="width:100%; text-align: center;">
      <ion-col size="12">
        <p style="font-variant: small-caps;text-align: center;">
          How to push @ 2018
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>